<div class="overlay" (click)="handleOutsideClick()">
    <div class="modal" (click)="$event.stopPropagation()">
        <h2>Sign Up</h2>
        <form (ngSubmit)="onSignup()">
            <div class="row">
                <input type="text" placeholder="First Name" [(ngModel)]="userProfile.firstname" name="firstname"
                    required />
                <input type="text" placeholder="Last Name" [(ngModel)]="userProfile.lastname" name="lastname"
                    required />
            </div>

            <input type="email" placeholder="Email" [(ngModel)]="userProfile.email" name="email" required />
            <input type="text" placeholder="Username" [(ngModel)]="userProfile.username" name="username" required />

            <div class="row">
                <input type="password" placeholder="Password" [(ngModel)]="userProfile.password" name="password"
                    required />
                <input type="password" placeholder="Confirm Password" [(ngModel)]="confirmPassword"
                    name="confirmPassword" required />
            </div>

            <button type="submit">Create Account</button>
        </form>

        <p>Already have an account? <a routerLink="/login">Login</a></p>

    </div>
</div>