<header class="navbar" >
  <div class="nav-left">
    <a routerLink="/">
      <img src="./assets/Logo.png" alt="Site Logo" class="logo" />
    </a>
    <a routerLink="/">Home</a>
    <a routerLink="/faq">FAQ</a>
    <a routerLink="/contact">Contact</a>
  </div>

  <div class="nav-right">
    <ng-container *ngIf="isLoggedIn(); else guestLinks">
      <div class="profile-icon flex items-center gap-2">
        <img src="./assets/profile-icon-1.png" alt="Profile icon" />
        <p>{{ user.user.firstname + " " + user.user.lastname }}</p>
      </div>
      <button (click)="logout()" class="btn-logout">Logout</button>
    </ng-container>

    <ng-template #guestLinks>
      <a routerLink="/login" class="btn-login">Login</a>
      <a routerLink="/register" class="btn-register">Sign Up</a>
    </ng-template>
  </div>
</header>
