main {
  margin-top: 3rem;
  padding: 4rem;
}

.cal-window {
    display: flex;
    gap: 4rem;
}

.calendar {
    flex: 4;
}

.window {
    flex: 1;
    background: #fff;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  
    .btn {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
      
    .form-fields {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
  
      input,
      textarea {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      .btn {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }

  .event-legend {
    margin-top: 1rem;
    padding-left: 1rem;
  
    .legend-item {
      display: flex;
      align-items: center;
    }
  
    .legend-dot {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      display: inline-block;
    }
  }
  
  .window p.text-gray-600 {
    background-color: #f1f5f9;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }

  .window p.text-teal-600 {
    background-color: #daeff3;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }