<main class="main-div">
    <h2 class="font-bold text-2xl mb-8">Create a New Session</h2>

    <div class="flex gap-24">
        <div class="relative mb-8 flex gap-4 w-full h-full flex-[4]">
            <h3 class="block text-lg  my-auto block text-nowrap">Select a Course:</h3>

            <div class="relative w-full flex-3" #searchBar>
                <input type="text" [(ngModel)]="searchQuery" (input)="filterOptions()"
                    placeholder="Enter course code/name..." (click)="searchQuery = ''; filterOptions()"
                    class="px-4 py-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-400" />

                <ul *ngIf="filteredOptions.length > 0"
                    class="absolute z-10 bg-white border border-gray-300 mt-1 rounded-md shadow-md max-h-48 w-full overflow-y-auto">
                    <li *ngFor="let option of filteredOptions" class="px-4 py-2 hover:bg-blue-200 cursor-pointer"
                        (click)="selectOption(option)">
                        {{ option.displayName }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="flex-1"></div>
    </div>

    <div class="cal-window" #sessionPanel>

        <daypilot-calendar [config]="config" [events]="events" class="calendar" #studypalCalendar></daypilot-calendar>

        <div class="window">
            <ng-container *ngIf="selected || isPast; else nothing">

                <ng-container *ngIf="selected && !isPast || isEventPast; else past">
                    <div class="mb-4" *ngIf="!isEventPast">
                        <p class="mb-2"><strong>Selected Time Slot</strong></p>
                        <p><strong>Day:</strong> {{ selected?.day }} , {{ selected?.start?.toString("d MMMM") }}</p>
                        <p><strong>From:</strong> {{ selected?.start?.toString("h:mm tt") }} <strong>To:</strong> {{
                            selected?.end?.toString("h:mm tt") }}</p>
                    </div>

                    <div *ngIf="!selected.showForm && isOwner && selectedCourse; else courseNotSelected">
                        <button class="btn bg-blue-500 text-white" (click)="showForm()">Create Session</button>
                    </div>

                    <div *ngIf="selected && !isOwner && !isEventPast">
                        <p class="text-teal-600 font-medium mt-4">This session created by other user.</p>
                    </div>

                    <div *ngIf="selected.showForm && !isEventPast;" class="form-fields">
                        <input type="text" placeholder="Session Name" [(ngModel)]="selected.sessionName" />
                        <textarea rows="4" placeholder="Notes" [(ngModel)]="selected.sessionNotes"></textarea>

                        <div class="mt-3 flex gap-4">
                            <button class="btn bg-blue-500 text-white" (click)="saveSession()">
                                {{ selected.isEdit ? 'Update Session' : 'Save & Create' }}
                            </button>

                            <button class="btn bg-gray-300 text-black" (click)="cancelSelection()">Cancel</button>

                            <button *ngIf="selected.isEdit" class="btn bg-red-600 text-white"
                                (click)="deleteSession()">Delete Session</button>
                        </div>
                    </div>

                    <ng-template #courseNotSelected>
                        <div *ngIf="isOwner && !isEventPast && !selected.isEdit && !selectedCourse">
                            <p class="text-red-600 font-medium mt-4">Select a course to create session.</p>
                        </div>
                    </ng-template>

                    <div *ngIf="isEventPast" class="mb-4">
                        <p><strong>Session:</strong> {{ selected?.sessionName }}</p>
                        <p *ngIf="selected.sessionNotes"><strong>Notes:</strong> {{ selected?.sessionNotes }}</p>
                        <p><strong>Day:</strong> {{ selected?.day }} , {{ selected?.start?.toString("d MMMM") }}</p>
                        <p><strong>From:</strong> {{ selected?.start?.toString("h:mm tt") }} <strong>To:</strong> {{
                            selected?.end?.toString("h:mm tt") }}</p>
                        <div>
                            <p class="text-gray-600 font-medium mt-4">This session has already passed.</p>
                        </div>
                    </div>

                </ng-container>

            </ng-container>

            <ng-template #past>
                <p>Time you have selected is already passed.</p>
            </ng-template>

            <ng-template #nothing>
                <p>Select a course and time slot on the calendar to start.</p>
            </ng-template>
        </div>
    </div>

    <div class="event-legend mt-6 flex flex-wrap gap-6 items-center text-sm text-gray-700">
        <div class="legend-item flex items-center gap-2">
            <span class="legend-dot bg-blue-500"></span> Your Session
        </div>
        <div class="legend-item flex items-center gap-2">
            <span class="legend-dot bg-teal-500"></span> Other Session
        </div>
        <div class="legend-item flex items-center gap-2">
            <span class="legend-dot bg-gray-500"></span> Past Session
        </div>
    </div>
</main>