main {
  margin-top: 3rem;
  margin: 4rem;
  margin-top: 8rem;
  height: 75vh;
  border-radius: 25px;
}

.bg-blue-custom {
  background-color: var(--blue);
}

.text-blue-custom {
  color: var(--blue);
}