<aside class="sidebar">
    <div class="pt-4"></div>
    <nav class="nav-links">
        <a routerLink="/dashboard" routerLinkActive="active">
            <img src="./assets/dashboard-icon-2.png" alt="Dashboard icon" />
            Dashboard
        </a>
        <a routerLink="/studypal" routerLinkActive="active">
            <img src="./assets/group-icon-1.png" alt="StudyPal icon" />
            StudyPal
        </a>
        <a routerLink="/schedule" routerLinkActive="active">
            <img src="./assets/calendar-icon-1.png" alt="Schedule icon" />
            Schedule
        </a>
        <a routerLink="/chats" routerLinkActive="active">
            <img src="./assets/chat-icon-1.png" alt="Chats icon" />
            Chats
        </a>
        <a routerLink="/settings" routerLinkActive="active">
            <img src="./assets/settings-icon-1.png" alt="Settings icon" />
            Settings
        </a>
    </nav>
</aside>

<app-navbar></app-navbar>


<main class="content-area">
    <router-outlet></router-outlet>
</main>